/GestorTest.class
/RecomendadorTest.class
/TestCliente.class
/PruebaCliente.class
/PruebaEmpleado.class
/TestExcepciones.class
/PruebaGestor.class
/PruebaPreferenciaNotificacion.class
/PruebaUsuarioNoRegistrado.class
/PruebaUsuarioRegistrado.class
/EstadisticaTest.class
/FiltroSegundaManoTest.class
